{% for project_name,group_name in libraries %}
  <details>
    <summary>{{ project_name }}</summary>
    <div class="details-wrapper">
      {% for group_name,group_info in group_name %}
        <strong>{{ group_name }}</strong>
        <ul>
          {% for key,value in group_info %}
            {% if value is not null and value is not empty %}
              <li>
              <strong>{{ key }}</strong>{{ ':' }}
              {% if key ==  ('css' or 'js' ) %}
                {% for assets_key, assets_value in value %}
                  {% for asset_key, asset_value in assets_value %}
                    <ul>
                      {% if asset_value is not null and asset_value is not empty and asset_value is not iterable %}
                        {% if asset_key == 'minified' %}
                          {% set asset_value = 'yes' %}
                        {% endif %}
                        <li>
                          <strong>{{ asset_key }}: </strong>{{ asset_value }}
                        </li>
                      {% endif %}
                    </ul>
                  {% endfor %}
                {% endfor %}
                {% if key ==  ('license' or 'dependencies') %}
                  {% for license_key, license_value in value %}
                    <ul>
                      {% if license_value is not null and license_value is not empty and license_value is not iterable %}
                        <li>
                          {% if key ==  'license' %} <strong>{{ license_key }}: </strong>{% endif %}
                          {{ license_value }}
                        </li>
                      {% endif %}
                    </ul>
                  {% endfor %}
                {% endif %}
              {% else %}
                {{ value }}
              {% endif %}
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </details>
{% endfor %}

